[Unit]
Description=Osmocom Home Nodeb Gateway (OsmoHNBGW)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=always
LimitNOFILE=65536
StateDirectory=osmocom
WorkingDirectory=%S/osmocom
ExecStart=/usr/bin/osmo-hnbgw -c /etc/osmocom/osmo-hnbgw.cfg
RestartSec=2

[Install]
WantedBy=multi-user.target
